@import url(https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Comfortaa", cursive;
}

h1 {
    font-weight: 700;
}

.name::first-letter {
    color: crimson;
}

.cover-style {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Navbar */

.navbar {
    padding: 35px;
}
.nav-underscore .nav-link {
    color: rgba(56, 56, 56, 0.5);
    border-bottom: 2px solid transparent;
    margin-left: 30px;
  }
.nav-underscore .nav-link:hover,
.nav-underscore .nav-link:focus {
    border-bottom-color: rgba(56, 56, 56, 0.5);
}
.nav-underscore .active {
    border-bottom-color: rgb(68, 63, 100);
}

/* End of navbar */