@import url(https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap);
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

:root {
    /* Font and typography */
    --body-font: 'Comfortaa', sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px */
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .9rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Cover */

.cover_section {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.start {
    max-width: 20%;
    background-color: rgb(209, 255, 212, 0.4);
    backdrop-filter: blur(40px);
    border: 1px solid rga(255, 255, 255, 0.5);
}
.start:hover,
.start:focus {
    background-color: rgb(209, 255, 212, 0.2);
}
.start:active {
    background-color: rgb(209, 255, 212, 0.4);  
}
/* End of cover */

/* Navbar */

.navbar {
    padding: 35px;
    background-color: white;
}
.nav-underscore .nav-link {
    color: rgba(56, 56, 56, 0.5);
    border-bottom: 2px solid transparent;
    margin-left: 30px;
  }
.nav-underscore .nav-link:hover,
.nav-underscore .nav-link:focus {
    border-bottom-color: rgba(56, 56, 56, 0.5);
}
.nav-underscore .active {
    border-bottom-color: rgb(68, 63, 100);
}

/* End of navbar */

/* About */
.presentation_story {
    border: none;
}

@media (max-width:1299.98px) {
    .about_section {
        min-height: 100vh;
    }
    .presentation_photo {
        width: 75%;
    }
    .img_presentation {
        border-radius: 15px;
    }
    .presentation_text {
        min-width: 400px;
    }
    .presentation_story {
        min-width: 400px;
    }
    .card_section {
        margin-top: 30px;
    }
    .card_body {
        padding: 30px;
    }
}

@media (min-width:1299.98px) {
    .about_section {
        position: relative;
        min-height: 100vh;
    }
    .presentation_photo {
        width: 75%;
        position: absolute;
        top: 250px;
        left: 450px;
        z-index: -1;
    }
    .img_presentation {
        border-radius: 15px;
    }
    .presentation_text {
        max-width: 500px;
        position: absolute;
        top: 140px;
        left: 150px;
        z-index: 1;
    }
    .card_body {
        padding: 30px;
    }
    .presentation_story {
        min-width: 400px;
        position: absolute;
        top: 700px;
        left: 150px;
    }
}

/* End of about */

/* Services */

/* End of services */